<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../js/Vue.js"></script>
</head>
<body>
  <div id="app">
    <ul>
      <li v-for="item in names">{{item}}</li>
    </ul>
    
    <br>
    <ul>
      <li v-for="(item, index) in names">{{index}}--{{item}}</li>
    </ul>
  </div>
  <script>
    const app = new Vue({
      el: "#app",
      data: {
        names:["小义", "一诺", "易峥", "妖刀"]
      }
    })
  </script>
</body>
</html>